<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elegant Dashboard | Sign Up</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href=" {% static 'assets2/img/svg/logo.svg' %} " type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href=" {% static 'assets2/css/style.min.css' %} ">
</head>

<body>
  <div class="layer"></div>
 <main class="page-center" >
  <article class="sign-up" style="width:600px;">
    <h1 class="sign-up__title">Get started</h1>
<!--    <p class="sign-up__subtitle">Start creating the best possible user experience for you customers</p>-->
    <form class="sign-up-form form" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <label class="form-label-wrapper">
        <p class="form-label">Username</p>
         {{form3.username}}
      </label>
      <label class="form-label-wrapper">
        <p class="form-label">Password</p>
        {{form3.password1}}
      </label>
      <label class="form-label-wrapper">
        <p class="form-label">Confirm Password</p>
        {{form3.password2}}
      </label>
      <label class="form-label-wrapper">
        <p class="form-label">Name</p>
        {{form4.name}}
      </label>
      <label class="form-label-wrapper">
        <p class="form-label">Email</p>
        {{form4.email}}
      </label>
      <label class="form-label-wrapper">
        <p class="form-label">Contact No.</p>
        {{form4.contact_no}}
      </label>
      <label class="form-label-wrapper">
        <p class="form-label">Address</p>
        {{form4.address}}
      </label>

      <label class="form-checkbox-wrapper">
        <input class="form-checkbox" type="checkbox" required>
        <span class="form-checkbox-label">Remember me next time</span>
      </label>
      <button class="form-btn primary-default-btn transparent-btn" type="submit">Sign in</button>
    </form>
      <span class="form-checkbox-label">Already have an account?<a href="{% url 'login_view' %}">sign in</a></span>
  </article>
</main>
<!-- Chart library -->
<script src=" {% static 'assets2/plugins/chart.min.js' %} "></script>
<!-- Icons library -->
<script src=" {% static 'assets2/plugins/feather.min.js' %} "></script>
<!-- Custom scripts -->
<script src=" {% static 'assets2/js/script.js' %} "></script>
</body>

</html>
