{% extends 'admin11/admin_base.html' %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">SL NO.</th>
      <th scope="col">Name</th>
      <th scope="col">ContactNO</th>
        <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th>Delete</th>

    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.name}}</td>
      <td>{{i.contact_no}}</td>
        <td>{{i.email}}</td>
        <td>{{i.address}}</td>
      <td>
        <form action="{% url 'delete' i.id %}" method="POST">
              {% csrf_token %}
        <button type="submit" class="btn btn-success">Delete</button>
      </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}