{% extends 'workmanager/workmanager_base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!--<div class="container-fluid">-->
    <div class="card">
        <form method="post">
            {% csrf_token %}
                <div class="form-group">
<!--                    <label class="form-control-label">customer</label>-->
<!--                <input required class="form-control"  readonly value="{{form1.customer}}">-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label class="form-control-label">cost</label>-->
<!--                <input required class="form-control"   value="{{form1.cost}}">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="form-control-label">Problem Description</label>-->
<!--                <input required class="form-control"   value="{{form1.problem_description}}">-->
<!--            </div>-->


<!--            <div class="form-group">-->
<!--                <label class="form-control-label">status</label>-->
<!--                <input required class="form-control"   value="{{form1.status}}">-->
<!--            </div>-->
             {{form1|crispy}}
            <button type="submit" class="btn btn-info"> submit </button>
        </form>
    </div>

{% endblock %}
